# Allow user to store keys here:
my.env

# Allow user to have hosts.ini file, repo should only
# contain the .example file
kubespray/inventory/default/hosts.ini

# Don't check in user's cluster artifacts
kubespray/inventory/default/artifacts

# Spark egg generation creates this dir, can't omit :P
au.egg-info

*.pyc
*.DS_Store
.ipynb_checkpoints
.vscode
cache
local_cache
