[submodule "external/tensorflow_models"]
	path = external/tensorflow_models
	url = https://github.com/tensorflow/models
[submodule "external/kubespray"]
	path = external/kubespray
	url = https://github.com/pwais/kubespray
[submodule "external/tf_cnnvis"]
	path = external/tf_cnnvis
	url = https://github.com/pwais/tf_cnnvis
[submodule "external/probabilistic_unet"]
	path = external/probabilistic_unet
	url = https://github.com/SimonKohl/probabilistic_unet
[submodule "external/batchgenerators"]
	path = external/batchgenerators
	url = https://github.com/MIC-DKFZ/batchgenerators
[submodule "external/youtube-8m"]
	path = external/youtube-8m
	url = https://github.com/google/youtube-8m
[submodule "external/bdd-data"]
	path = external/bdd-data
	url = git@github.com:pwais/bdd-data.git
